
@tailwind base;
@tailwind components;
@tailwind utilities;

  .cat-title{
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b3b3; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

.global-btn{
  background-color: #6d4aae;
}

.global-heading
{
  background-color: #6d4aae;

}
.bg-purple
{
  background-color: #6d4aae !important;

}

.text-web{
  color: #6d4aae;
}

.text-purple{
  color: #6d4aae;
}

.gradient-btn {
  background: linear-gradient(to right, #C49ED5, #f2b4b4, #eec588);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.gradient-btn:hover {
  opacity: 0.9;
  color: black;
}

.google-partner{
  background-image: url("../../public/assets/google-partner.jpg");
  background-size: cover; 
  background-position: center; /* Centers the image */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat; /* Prevents image repetition */
  width: 100%;
  padding: 20px;
  height: 200px;
}


.gp-img{
  height: 50px;
  /* width: 100px; */
}


/* Google translate */
.VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-l4eHX-hSRGPd:link, .VIpgJd-ZVi9od-l4eHX-hSRGPd:visited, .VIpgJd-ZVi9od-l4eHX-hSRGPd:hover, .VIpgJd-ZVi9od-l4eHX-hSRGPd:active{
  display: flex;
}



/* Navigation arrows spacing */
/* .swiper-button-prev{
  margin-right: 90px !important;

} 
.swiper-button-next {
} */

/* Pagination spacing */
.swiper-pagination {
  display: none;
}



a{
  text-decoration: none !important;
}

/* Common title page */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.7rem !important;
    margin-bottom: 20px;
  }
  
}


.title {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.title span {
  color: #6D4AAF;
}

.title-normal {
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

.title-highlight {
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
}


.img-cover {
  object-fit: cover;
  width: 100%;
  height: auto;
}


.list-group-item{
  padding: 5px 10px !important;
  font-size: 14px;
}

.list-group {
  z-index: 20 !important;
  max-height: 200px !important;
  overflow-y: auto;
  overflow-x: hidden;  /* ✅ Prevent horizontal scrollbar */
  scrollbar-width: thin;          
  scrollbar-color: #ccc transparent;  
}

.list-group::-webkit-scrollbar {
  width: 4px;
  height: 0px !important; /* ✅ Disable horizontal scrollbar on WebKit */
}

.list-group::-webkit-scrollbar-track {
  background: transparent;
}

.list-group::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}



.custom-active {
  /* Don't inherit Bootstrap's .active styles */
  color: #7c3aed !important; /* Tailwind's purple-600 */
  background-color: #ffffff !important;
  font-weight: bold;
}


