.pricing-section {
    padding: 50px 20px;
    background-color: #f5f7fa;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
  }
  

  
  
  .pricing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
 
  .card {
    background: #fff;
    border-radius: 20px;
    width: 300px;
    padding: 25px 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    position: relative;
    transition: transform 0.3s ease;
    text-align: left;
  }
  
  .card.highlight {
    background-color: #6D4AAF;
    color: white;
    overflow: hidden;
  }
  
  .card.highlight ul li,
  .card.highlight h3,
  .card.highlight .gst {
    color: white;
  }
  
  .text-ssm{
    font-size: 13px !important;
    font-weight: bold;
  }

  .ribbon {
    background-color: #FFA500;
    color: white;
    font-weight: 600;
    padding: 10px 12px 0px 12px;
    position: absolute;
    top: -3px;
    left: -36px;
    transform: rotate(-45deg);
    width: 120px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
  }
  
  .card li {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    margin-bottom: 12px;
    gap: 10px;
  }
  
  .check {
    font-size: 1.1rem;
  }
  
  .cross {
    font-size: 1.1rem;
  }
  
  .card h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .card .gst {
    font-size: 0.85rem;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card button {
    width: 100%;
    padding: 10px 0;
    background-color: white;
    border: 2px solid #6D4AAF;
    color: #6D4AAF;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .card button:hover {
    background-color: #6D4AAF;
    color: white;
  }
  
  .card.highlight button {
    background-color: white;
    color: #6D4AAF;
    border: none;
  }
  
  .card.highlight button:hover {
    background-color: #fff;
    opacity: 0.9;
  }
  